h1 {
   text-align: center;
   color: blueviolet;
   font-size: 50px;

   
}

p {
   text-align: center;
}

.container-1 div {
   border: 1px dotted;
   padding: 10px;

}

.container-1 {
   display: flex;
   justify-content: space-around;
}

.box-1 {
   width: 30%;
}

.box-2 {
   width: 30%;
   
}

.box-3 {
   width: 30%;
    
}

.container-2 div {
   border: 1px dotted;
   padding: 10px;

}

.container-2 {
   display: flex;
   justify-content: space-around
   
}

.box-4 {
   width: 30%;

   
}

.box-5 {
   width: 30%;
}

.box-6 {
   width: 30%;
}

h3 {
   display: block;
   margin: 20%;
   margin-left: 30%;
   border: 2px solid;
   width: 40%;
   padding: 10px;
   text-align: center;
   
}